<fieldset>
<legend>
  <h3>User Page</h3>
</legend>
<ul>
  <li><b>User Email:</b>&ensp;
    <%= @user.email %>
  </li>
  <br/>
  <% if @user.reviews.any? %>
  <li>
    <b>Total Reviews Submitted:</b>&ensp;
    (<%= @user.reviews.count %>)
  </li>
  </br>
  <ol>
    <%= render @reviews %>
  </ol>
  </br>
  <% end %>
  <% if current_user == @user %>
  <li>
    <%= link_to "Submit New Review", new_user_review_path(@user) %>
  </li>
  <br/>
  <li><b>Change User Settings:</b>&ensp;
    <%= link_to "Edit User", edit_user_path %>
  </li>
  <% end %>
</ul>
</fieldset>
<br/>
