<fieldset>
<legend>
  <h3>Restaurant Page</h3>
</legend>
<ul>
  <li>
    <b>Restaurant Name:</b>&ensp;
    <%= @restaurant.name %>
  </li>
  <br/>
  <li>
    <b>Cuisine:</b>&ensp; <!--show ALL cuisines from ALL reviews of specific restaurant-->
    <%= @restaurant.cuisines.map{|cuisine| cuisine.name}.join(', ').to_s + "." %>
  </li>
  <br/>
  <li>
    <b>Total Reviews Submitted:</b>&ensp;
    (<%= @restaurant.reviews.count %>)
  </li>
  <br/>
  <li>
    <%= link_to "Load Reviews", restaurant_reviews_path(@restaurant), :class => "load_reviews" %>
  </li>
  <div class="reviews">
  </div>
  <br/>
  <li><b>More info, 'click' to search for:</b>&ensp;
    <a target="_blank" href = 'http://www.<%= "#{@restaurant.name}" %>.com' data-confirm="Are you sure you want to visit an external website?"><%= @restaurant.name %></a>
  </li>
  <% if logged_in? %>
    <br/>
    <li><%= link_to "Submit New Review", new_review_path %></li>
  <% end %>
</ul>
</fieldset>
<br/>
